---
layout: page
title: "All Topics"
permalink: /categories/
---

<div>
  {% for category in site.categories %}
  <ul>
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <li class="category-head">
      <a href="{{ site.url }}/{{ category_name | slugize}}"
        >{{ category_name }} ({{site.categories[category_name].size}})</a
      >
    </li>
    <ul>
      {% for post in site.categories[category_name] %}
      <li style="font-size: small">
        <a href="{{ post.url | relative_url }}">{{post.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </ul>
  {% endfor %}
</div>
