<header class="site-header">
    {% assign default_paths = site.pages | map: "path" %} {% assign page_paths =
    site.header_pages | default: default_paths %}
    <div class="site-title-wrapper">
      <a
        href="{{ '/' | relative_url }}"
        class="text-js site-title">
        {{ site.title }}
      </a>
    </div>

    {% if page_paths %}
    <nav class="site-nav">
      {% for link in site.navigation %} {% assign current = nil %} {% if
      page.url == link.url%} {% assign current = 'current' %} {% endif %}

      <a
        class="page-link {{ current }}"
        href="{{ link.url | relative_url }}"
        title="{{link.text}}"
        >{{ link.text }}</a
      >
      {% endfor %}
    </nav>
    {% endif %}
</header>
