<li class="blog-home__list-items__item">
  <div class="blog-home__list-items__item__header">
    <div class="blog-home__list-items__item__header__meta">
      <small
        >{% assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        %} {{ post.date | date: date_format }}
      </small>
      •
      <small>
        <a href="/{{post.category}}">{{post.category | capitalize }}</a>
      </small>
    </div>
    <div>
      <h2 class="blog-home__list-items__item__header__title">
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
    </div>
    <div class="blog-home__list-items__item__header__description">
      <span>{{post.description}}</span>
    </div>
  </div>
</li>
