---
# only the main sass file needs front matter
---

@import "minima";
@import url(reset.css);

* {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizelegibility !important;
}

html,
body {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  margin: 0;
  color: rgba(0, 0, 0, 0.84);
  font-size: 20px;
  line-height: 1.5;
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif !important;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  a:visited {
    color: #bb4a03;
  }
  a {
    color: #bb4a03;
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Source Serif Pro", serif;
    font-weight: bold;
  }
}

summary:hover {
  text-decoration: underline;
}
summary {
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: bold;
  color: #bb4a03 !important;
}

.category-head {
  text-transform: capitalize;
}

header.site-header {
  background-color: #80ae3c !important;
  width: 100%;
}

footer.site-footer {
  background: #fff;
}

footer svg {
  display: inline;
}
.footer-site-title a {
  color: rgba(141, 191, 66, 0.97) !important;
  text-transform: uppercase;
  font-weight: bold;
}

.site-header {
  border: 0px !important;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3) !important;
}

table,
table.image,
table td,
table th,
table.image td,
table.image th {
  border: 0px !important;
}

table.image img {
  border: 1px solid #cccccc;
}

caption {
  font-size: 16px;
}

.page-content-home {
  background-color: #e4e2dd;
}

.page-content .wrapper {
  margin: 0 auto;
}

.desc-list {
  list-style: none;
  margin: 0;
}

.wrapper {
  max-width: 1000px;
}

.site-title {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff !important;
  font-weight: bold;
}

.site-nav .page-link {
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.categories {
  width: 100%;
  /*
    height: 700px;
    background: url('../assets/background/people_devices.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    */
  text-align: center;
}

.categories-content {
  span.categories-title {
    color: rgba(141, 191, 66, 0.97);
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
  }

  .categories-card {
    width: 360px;
    margin-top: 80px;
    border: 2px solid #ccc;
    border-radius: 5px !important;
    box-shadow: 5px 25px 30px -25px rgba(34, 34, 34, 0.25);
    background: white;

    div.categories-text {
      padding: 10px;
    }
  }
}

.jumbotron {
  background-color: rgba(141, 191, 66, 0.97) !important;
  /*
    background-image:  url('/assets/background/people_devices.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
    background-size: 100% auto;
    */
  box-shadow: 5px 25px 30px -25px rgba(34, 34, 34, 0.25);
  width: 100%;
}

.categories-content,
.jumbotron-content {
  margin: 0 auto;
  width: 800px;
  padding: 80px 0;
}

#about-me h2 {
  font-size: 23px;
  font-weight: bold;
}

#about-me {
  padding: 1rem 1rem 0.5rem;
  position: relative;
  text-align: center;
  font-size: 14px;
}

#donate-form {
  background-color: #90c049 !important;
  padding: 1em 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.ayo-thumb img {
  border-radius: 50%;
  border: 1px solid hsla(0, 0%, 100%, 0.3) !important;
  margin: 2px;
}

.ayo-thumb {
  width: 100px;
  margin: 0 auto;
}

.site-body {
  max-width: 1000px;
  margin: 0 auto;
}

nav#side-nav,
main.page-content {
  margin: 1em 0;
}
main.page-content {
  padding: 0;
  width: 70%;
}

nav#side-nav {
  width: calc(30% - 10px);
}

.side-panel-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.side-panel-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.side-panel {
  background-color: #80ae3c !important;
  color: white;
  font-size: normal;
  padding: 0 15px;
}

.page-content .wrapper .home {
  background-color: transparent;
}

.page-content .wrapper .post {
  background-color: white;
  margin: 1em 0;
}

.site-container {
  background-color: #ffffff;
}

table.image caption {
  font-size: small;
  font-style: italic;
}

iframe.mastodon-embed {
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto 1em;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tip-jar {
  width: 100%;
  text-align: center;
}

.blog-post {
  &__header {
    &__category {
      span {
        a:hover {
          color: #bb4a03;
          border-bottom: solid 3px #bb4a03;
          text-decoration: none;
        }
        a {
          text-transform: uppercase;
          padding: 3px;
          width: auto;
          text-decoration: none;
          font-weight: bold;

          font-size: small;
          color: #bb4a03;
          border-bottom: solid 3px #bb4a03;
        }
      }
    }

    &__title {
      --x-height-multiplier: 0.342;
      --baseline-multiplier: 0.22;
      font-family: "Source Serif Pro", serif;
      font-weight: 900;
      font-style: normal;
      font-size: 56px;
      margin: 0 0 10px -2.63px;
      line-height: 1.04;
      padding-top: 5px !important;
    }

    &__meta {
      font-size: small;
      margin: 0.5em 0;
    }

    &__image {
      border-radius: 5px;
      margin-bottom: 3px;
    }

    &__image-caption {
      font-size: small;
      text-align: center;
      margin-bottom: 0px;
    }
  }
  &__content {
    margin: 1em 0;

    h1,
    h2,
    h3 {
      padding-top: 20px;
      font-weight: bold;
    }
    p:not(blockquote *):first-of-type::first-letter {
      font-weight: 900;
      font-size: 75px;
      line-height: 60px;
      float: left;
      padding: 0px 3px;
      color: #80ae3c;
      margin-top: -8px;
    }
    p {
      margin-top: 1em;
    }
    blockquote {
      font-style: normal;
      margin: 35px 0 !important;
    }
    p,
    ul li,
    ol li,
    li p:first-of-type::first-letter {
      --x-height-multiplier: 0.375;
      --baseline-multiplier: 0.17;
      font-family: medium-content-serif-font, Georgia, Cambria,
        "Times New Roman", Times, serif;
      letter-spacing: 0.01rem;
      color: #333;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 1.58;
      letter-spacing: -0.003em;
      margin-top: 0px;
    }
  }
  &__after-content {
    h2 {
      text-align: center;
    }

    #rss-sign-up {
      color: #90c049;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      margin: 1em auto;
      max-width: 350px;
    }

    // #rss-sign-up a,
    #rss-sign-up em {
      color: #90c049;
    }

    #rss-sign-up a {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      color: #ee4a03;
    }

    #reply-by-email a:hover,
    #fedi-link a:hover {
      border: 1px solid #ee4a03;
    }
    #reply-by-email a,
    #fedi-link a {
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 0 0.5em;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 1em 0.5em;
      width: calc(50% - 1em);
      float: left;
      text-align: center;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      display: inline-block;
      font-size: large;
      font-weight: bold;
      font-family: medium-content-sans-serif-font, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif !important;
    }
  }
  &__web-mentions {
    h2 {
      text-align: center;
    }
    margin: 2em 0;

    .avatar-block-wrapper {
      width: 100%;
    }

    .avatar-block {
      display: inline-block;
      margin-bottom: 1.5em;
      margin-left: 15px;
      padding-left: 1.5em;
      width: calc(100% - 1em);
      border-left: 3px solid rgba(34, 34, 34, 0.15);

      img {
        margin-left: -0.7em;
        width: 2em;
        height: 2em;
      }
    }

    .reply-card {
      max-width: fit-content;
      display: block;
      margin: 1em 0;
      padding: 0 1em;
      border-left: 3px solid rgba(34, 34, 34, 0.15);
    }

    .reply-photo:hover,
    .avatar-block img:hover {
      berder-width: 5px;
      border-color: #bb4a03;
    }

    .reply-photo,
    .avatar-block img {
      border-radius: 50%;
      border: 3px solid white;
      float: left;
    }

    .reply-photo {
      width: 3em;
      height: 3em;
    }

    .reply-name,
    .reply-date {
      margin-left: 0.5em;
      float: left;
    }

    .reply-name {
      font-weight: bold;
    }
  }
}

.blog-home {
  &__list-items {
    list-style: none;
    margin-left: 0;

    &__item {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 5px 25px 10px -25px rgba(34, 34, 34, 0.15);
      border: 1px solid rgba(34, 34, 34, 0.15);
      margin-bottom: 1em;
      padding: 1em;

      &__header {
        &__meta,
        &__description {
          font-size: small;
        }
        &__title {
          margin: 10px 0;
          font-family: "Source Serif Pro", serif;
          font-weight: 900;
          font-size: 32px;
          line-height: 1.04;
          text-decoration: underline !important;
          color: #bb4a03 !important;
          text-decoration-thickness: 2px !important;

          a {
            color: #222 !important;
            text-decoration: none;
            text-decoration-color: #bb4a03 !important;
            text-decoration-thickness: 2px;
          }

          a:hover {
            color: #bb4a03 !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 350px) {
  div.subscription-message-div {
    display: none !important;
  }

  .blog-home {
    &__list-items {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  article .post-content p,
  article .post-content ul li,
  article .post-content ol li,
  .blog-home {
    &__list-items {
      margin-left: 0;
    }
  }

  .blog-post {
    &__header {
      &__title {
        font-size: 36px;
      }
    }

    &__after-content {
      #reply-by-email a,
      #fedi-link a {
        display: inline-block;
        width: calc(100% - 1em);
        margin-bottom: 1em;
      }
    }
  }

  .blog-home {
    &__list-items {
      &__item {
        &__header {
          &__title {
            font-size: 28px;
          }
        }
      }
    }
  }

  caption {
    font-size: 12px;
  }

  .page-content .wrapper {
    max-width: 100%;
  }
  main.page-content {
    width: 100%;
  }
  nav#side-nav {
    width: 100%;
    margin: 0 0 1em;
    padding: 0 1em;
  }
  .side-panel {
    width: 100%;
  }

  .post-list li h3 a {
    font-size: 31px;
  }

  .site-nav {
    background-color: #90c049 !important;
    border: 1px solid hsla(0, 0%, 100%, 0.3) !important;
  }
  .site-nav .menu-icon > svg path {
    fill: #ffffff;
  }
}
