---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

html,
body {
    -webkit-box-shadow: inset 0 3px 50px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 3px 50px rgba(0,0,0,0.3);
    box-shadow: inset 0 3px 50px rgba(0,0,0,0.3);
    /* text-shadow: 0 1px 1px rgba(0,0,0,0.3); */
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    margin: 0;
    color: rgba(0,0,0,.84);
    font-size: 20px;
    line-height: 1.4;
    font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

header.site-header {
    position: fixed !important;
    top: 0;
    width: 100%;
}

header.site-header,
footer.site-footer {
    background: rgba(255,255,255,.97)!important;
}

div.site-body {
    padding-top: 60px;
}

article .post-content p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    margin-top: 29px;
}

.page-content .wrapper {
    padding: 0 20px;
    margin: 0 auto;
}
   
.post-title {
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    letter-spacing: -.02em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    font-size: 34px;
    margin-left: -2.63px;
    line-height: 1.04;
    letter-spacing: -.015em;
    padding-top: 5px!important;
}

.desc-list {
    list-style: none;
    margin: 0;
}

div.fb-comments iframe {
    background: #fff;
}

