---
# only the main sass file needs front matter
---

@import url(reset.css);
@import url(variables.css);

* {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizelegibility !important;
}

html,
body {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  margin: 0;
  color: rgba(0, 0, 0, 0.84);
  line-height: 1.5;
  font-family:
    medium-content-sans-serif-font,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif !important;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  a,
  a:visited,
  a:hover {
    color: var(--color-brand-complement);
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Source Serif Pro", serif;
    font-weight: bold;
  }
}

summary:hover {
  text-decoration: underline;
}

summary {
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--color-brand-complement);
}

.category-head {
  text-transform: capitalize;
}

header.site-header {
  background-color: #80ae3c;
  width: 100%;
}

footer svg {
  display: inline;
}

.footer-site-title a {
  color: rgba(141, 191, 66, 0.97);
  text-transform: uppercase;
  font-weight: bold;
}

.site-header {
  border: 0px !important;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3) !important;
}

table,
table.image,
table td,
table th,
table.image td,
table.image th {
  border: 0px !important;
}

table.image img {
  border: 1px solid #cccccc;
}

caption {
  font-size: var(--font-size-sm);
}

.page-content .wrapper {
  margin: 0 auto;
}

.desc-list {
  list-style: none;
  margin: 0;
}

.wrapper {
  max-width: var(--content-width);
}

.site-title {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-color-light);

  &:visited {
    color: var(--text-color-light);
  }
}

.site-nav .page-link {
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: var(--font-size-base);
  font-weight: bold;
}

.categories {
  width: 100%;
  text-align: center;
}

#about-me h2 {
  font-size: var(--font-size-lg);
  font-weight: bold;
}

#about-me {
  padding: 1rem 1rem 0.5rem;
  position: relative;
  text-align: center;
  font-size: var(--font-size-base);
}

#side-message {
  margin: 1em 0 2em;
  border-radius: 5px;
  border: 3px dotted rgba(141, 191, 66, 1);
  padding: 1em;
  font-size: var(--font-size-base);

  h2 {
    font-size: var(--font-size-lg);
  }
}

#donate-form {
  background-color: #90c049 !important;
  padding: 1em 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.ayo-thumb img {
  border-radius: 50%;
  border: 1px solid hsla(0, 0%, 100%, 0.3) !important;
  margin: 2px;
}

.ayo-thumb {
  width: 100px;
  margin: 0 auto;
}

.site-body {
  max-width: 1000px;
  margin: 0 auto;
}

nav#side-nav,
main.page-content {
  margin: 1em 0;
}

main.page-content {
  padding: 0;
  width: 70%;
}

nav#side-nav {
  width: calc(30% - 10px);
}

.side-panel-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.side-panel-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.side-panel {
  background-color: #80ae3c !important;
  color: white;
  font-size: var(--font-size-base);
  padding: 0 15px;
}

.page-content .wrapper .home {
  background-color: transparent;
}

.page-content .wrapper .post {
  margin: 1em 0;
}

table.image caption {
  font-size: var(--font-size-sm);
  font-style: italic;
}

iframe.mastodon-embed {
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto 1em;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tip-jar {
  width: 100%;
  text-align: center;
}

.blog-post {
  &__header {
    &__category {
      span {
        a,
        a:hover {
          text-transform: uppercase;
          padding: 3px;
          width: auto;
          text-decoration: none;
          font-weight: bold;

          font-size: var(--font-size-sm);
          color: var(--color-brand-complement);
          border-bottom: solid 3px var(--color-brand-complement);
        }
      }
    }

    &__title {
      --x-height-multiplier: 0.342;
      --baseline-multiplier: 0.22;
      font-family: "Source Serif Pro", serif;
      font-weight: 900;
      font-style: normal;
      font-size: var(--font-size-xl);
      margin: 0 0 10px -2.63px;
      line-height: 1.04;
      padding-top: 5px !important;
    }

    &__meta {
      font-size: var(--font-size-sm);
      margin: 0.5em 0;
    }

    &__image {
      border-radius: 5px;
      margin-bottom: 3px;
    }

    &__image-caption {
      font-size: var(--font-size-sm);
      text-align: center;
      margin-bottom: 0px;
    }
  }

  &__content {
    margin: 1em 0;

    .highlighter-rouge {
      max-width: calc(100vw - 30px);
    }

    h1,
    h2,
    h3 {
      padding-top: 20px;
      font-weight: bold;
    }

    p {
      margin-top: 1em;
    }

    blockquote {
      font-style: normal;
      margin: 35px 0 !important;
    }

    p,
    ul li,
    ol li {
      --x-height-multiplier: 0.375;
      --baseline-multiplier: 0.17;
      font-family: medium-content-serif-font, Georgia, Cambria,
        "Times New Roman", Times, serif;
      letter-spacing: 0.01rem;
      color: #333;
      font-weight: 400;
      font-style: normal;
      font-size: var(--font-size-base);
      line-height: 1.58;
      letter-spacing: -0.003em;
      margin-top: 0px;
    }
  }

  &__after-content {
    h2 {
      text-align: center;
    }

    #rss-sign-up {
      color: #90c049;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      margin: 1em auto;
      max-width: 350px;
    }

    #rss-sign-up em {
      color: #90c049;
    }

    #rss-sign-up a {
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }

    #reply-by-email a:hover,
    #fedi-link a:hover {
      border: 1px solid var(--color-brand-complement);
    }

    #reply-by-email a,
    #fedi-link a {
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 0 0.5em;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 1em 0.5em;
      width: calc(50% - 1em);
      float: left;
      text-align: center;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      display: inline-block;
      font-size: large;
      font-weight: bold;
      font-family:
        medium-content-sans-serif-font,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif !important;
    }
  }

  &__web-mentions {
    h2 {
      text-align: center;
    }

    margin: 2em 0;

    .avatar-block-wrapper {
      width: 100%;
    }

    .avatar-block {
      display: inline-block;
      margin-bottom: 1.5em;
      margin-left: 15px;
      padding-left: 1.5em;
      width: calc(100% - 1em);
      border-left: 3px solid rgba(34, 34, 34, 0.15);

      img,
      svg {
        margin-left: -0.7em;
        width: 2em;
        height: 2em;
        background: white;
      }
    }

    .reply-card {
      max-width: fit-content;
      display: block;
      margin: 1em 0;
      padding: 0 1em;
      border-left: 3px solid rgba(34, 34, 34, 0.15);
    }

    .reply-photo:hover,
    .avatar-block img:hover,
    .avatar-block svg:hover {
      berder-width: 5px;
      border-color: #80ae3c;
    }

    .reply-photo,
    .avatar-block img,
    .avatar-block svg {
      border-radius: 50%;
      border: 3px solid blue;
      float: left;
    }

    .reply-photo {
      width: 3em;
      height: 3em;
    }

    .reply-name,
    .reply-date {
      margin-left: 0.5em;
      float: left;
    }

    .reply-name {
      font-weight: bold;
    }
  }
}

.blog-home {
  &__list-items {
    list-style: none;
    margin-left: 0;

    &__item {
      background-color: var(--text-color-light);
      border-radius: 5px;
      box-shadow: 5px 25px 10px -25px rgba(34, 34, 34, 0.15);
      border: 1px solid rgba(34, 34, 34, 0.15);
      margin-bottom: 1em;
      padding: 1em;

      &__header {
        &__meta,
        &__description {
          font-size: var(--font-size-base);
        }

        &__title {
          margin: 10px 0;
          font-family: "Source Serif Pro", serif;
          font-weight: 900;
          font-size: var(--font-size-lg);
          line-height: 1.04;
          text-decoration: underline !important;
          color: var(--color-brand-complement);
          text-decoration-thickness: 2px !important;

          a,
          a:visited {
            color: #222;
            text-decoration: none;
            text-decoration-color: var(--color-brand-complement) !important;
            text-decoration-thickness: 2px;
          }

          a:hover {
            color: var(--color-brand-complement) !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 350px) {
  div.subscription-message-div {
    display: none !important;
  }

  .blog-home {
    &__list-items {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  article .post-content p,
  article .post-content ul li,
  article .post-content ol li,
  .blog-home {
    &__list-items {
      margin-left: 0;
    }
  }

  .blog-post {
    &__header {
      &__title {
        font-size: var(--font-size-xl);
      }
    }

    &__after-content {
      #reply-by-email a,
      #fedi-link a {
        display: inline-block;
        width: calc(100% - 1em);
        margin-bottom: 1em;
      }
    }
  }

  .blog-home {
    &__list-items {
      &__item {
        &__header {
          &__title {
            font-size: var(--font-size-lg);
          }
        }
      }
    }
  }

  caption {
    font-size: var(--font-size-sm);
  }

  .page-content .wrapper {
    max-width: 100%;
  }

  main.page-content {
    width: 100%;
  }

  nav#side-nav {
    width: 100%;
    margin: 0 0 1em;
    padding: 0 1em;
  }

  .side-panel {
    width: 100%;
  }

  .post-list li h3 a {
    font-size: var(--font-size-lg);
  }

  .site-nav {
    background-color: #90c049 !important;
    border: 1px solid hsla(0, 0%, 100%, 0.3) !important;
  }

  .site-nav .menu-icon > svg path {
    fill: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: var(--bg-darker);
    color: var(--text-color-light);

    summary,
    a,
    a:visited,
    a:hover {
      color: var(--color-brand-complement-dark);
    }
  }

  .blog-post {
    &__header {
      &__category {
        span {
          a,
          a:hover {
            color: var(--color-brand-complement-dark);
            border-bottom: solid 3px var(--color-brand-complement-dark);
          }
        }
      }
    }

    &__content {
      div.highlight,
      pre.highlight,
      code {
        background: var(--bg-dark);
        color: var(--text-color-light-faded);
        border: 0px;
      }
      p,
      ol li,
      ul li {
        background: var(--bg-darker);
        color: var(--text-color-light);
      }
      a,
      a:visited {
        color: var(--color-brand-complement-dark);
      }
    }
    &__after-content {
      #reply-by-email a,
      #fedi-link a {
        background-color: var(--bg-dark);
        border: 1px solid var(--bg-darker);
        color: var(--color-brand-complement-dark);
      }

      #reply-by-email a:hover,
      #fedi-link a:hover {
        border: 1px solid var(--color-brand-complement-dark);
      }
    }
  }

  .blog-home {
    &__list-items__item {
      background: var(--bg-dark);
      color: var(--text-color-light);

      &__header__title {
        color: var(--color-brand-complement-dark) !important;

        a,
        a:visited {
          color: var(--text-color-light);
          text-decoration-color: var(--color-brand-complement-dark) !important;
        }

        a:hover {
          color: var(--color-brand-complement-dark) !important;
        }
      }
    }
  }

  footer.site-footer {
    border-color: var(--bg-dark);
  }
}
