/**/
.text-js{
    opacity: 0;
  }
  .cursor{
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: -5px;
    width: 3px;
    /* Change colour of Cursor Here */
    background-color: white;
    z-index: 1;
    animation: flash 0.5s none infinite alternate;
  }
  @keyframes flash{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }

