<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="site-container">

        {% include header.html %}
        
        {% if page.type == "home" %}

        <!--div class="categories">
            <div class="categories-content">
                <span class="categories-title">Something for Everyone</span>
                <div class="clear-both"></div>
                <a class="float-left" href="#">
                    <div class="categories-card">
                        <img src="../assets/background/business_makers.jpg" />
                        <div class="categories-text">
                            I make Apps
                        </div>
                    </div>
                </a>
                <a class="float-right" href="#">
                    <div class="categories-card">
                        <img src="../assets/background/business_makers.jpg" />
                        <div class="categories-text">
                            I use Apps
                        </div>
                    </div>
                </a>
                <div class="clear-both"></div>
            </div>
        </div-->

        <div class="jumbotron">
            <div class="jumbotron-content">
                <div id="mc_embed_signup" class="float-left">
                    <form action="https://github.us17.list-manage.com/subscribe/post?u=85102052c447ce8a8bba06f24&amp;id=2366f7f35a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <label for="mce-EMAIL">FREE Personal Growth & Productivity Tips</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email address..." required>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_85102052c447ce8a8bba06f24_2366f7f35a" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            <div class="subscription-message-div">
                                <div class="subscription-message-thumb float-left">
                                    <img src="../assets/images/ayo.jpg" alt="Free exclusive web development tips!" />
                                </div>
                                <div class="subscription-message-text float-left">
                                    <p>Get my newsletters on life and personal growth.</p>
                                </div>
                                <div class="clear-both"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
        {% endif %}

        <div class="site-body">
            <main class="page-content float-left" aria-label="Content">
                <div class="wrapper">
                    {{ content }}
                </div>
            </main>
            <nav id="side-nav" class="float-left">
                <div class="side-panel side-panel-top" id="about-me">
                    <div class="ayo-thumb">
                        <img src="../assets/images/ayo.jpg" alt="Free exclusive web development tips!" />
                    </div>
                    <h2>{{ site.description }}</h2>
                    <!--p>Learn how to use the best and latest web applications and technologies to boost your productivity.</p-->
                    <p>Want to give me a tip?</p>
                    <!--div class="post-readmore"><a target="_blank" class="button" href="https://docs.google.com/forms/d/e/1FAIpQLScinfuT_8-4q5Yk16nGUMxWxVpQgWZwyAaJ5oFY5_0NsRMjMw/viewform?usp=sf_link">Get FREE Consultation</a></div-->
                </div>
                <div class="side-panel side-panel-bottom" id="donate-form">
                    <!--form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="5JY6XQBB35E5E">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form-->
                    <!--form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="724PMTDRRFGVA" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_PH/i/scr/pixel.gif" width="1" height="1" />
                    </form-->

                    <div class="tip-jar">
                        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
                        <script type='text/javascript'>
                            kofiwidget2.init('Buy me a coffee', '#ee4a03', 'ayoayco');
                            kofiwidget2.draw();
                        </script> 
                    </div>
                </div>
            </nav>
            <div class="clear-both"></div>
        </div>

        {% include footer.html %}

    </div>

    <!-- Default Statcounter code for Fullhacker.com
http://fullhacker.com -->
    <script type="text/javascript">
        var sc_project = 11689667;
        var sc_invisible = 1;
        var sc_security = "4710ea45";
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="http://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="//c.statcounter.com/11689667/0/4710ea45/1/" alt="Web
    Analytics"></a></div></noscript>
    <!-- End of Statcounter Code -->

</body>

</html>
