<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="site-container">

        {% include header.html %} {% if page.type == "home" %}
        <!--div class="jumbotron">
            <div class="jumbotron-content">
                <div id="mc_embed_signup" class="float-left">
                    <form action="https://github.us17.list-manage.com/subscribe/post?u=85102052c447ce8a8bba06f24&amp;id=2366f7f35a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <label for="mce-EMAIL">Sign up for Exclusive Web Development Tips</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email address..." required>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_85102052c447ce8a8bba06f24_2366f7f35a" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            <div class="subscription-message-div">
                                <div class="subscription-message-thumb float-left">
                                    <img src="../assets/images/ayo.jpg" alt="Free exclusive web development tips!" />
                                </div>
                                <div class="subscription-message-text float-right">
                                    <p>Learn practical methods to improve your web dev skills!</p>
                                </div>
                                <div class="clear-both"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clear-both"></div>
            </div>
        </div-->

        {% endif %}


        <div class="site-body">
            <main class="page-content float-left" aria-label="Content">
                <div class="wrapper">
                    {{ content }}
                </div>
            </main>
            <nav id="side-nav" class="float-left">
                {% if page.type != "about" %}
                <div class="side-panel" id="about-me">
                    <div class="ayo-thumb">
                        <img src="../assets/images/ayo.jpg" alt="Free exclusive web development tips!" />
                    </div>
                    <h2 style="font-weight: bold; text-align: center">Hi! I'm Ayo!</h2>
                    <p>Thanks for dropping by! I started this website with the hope of having a place to share things I think will be helpful to technology and productivity enthusiasts such as myself. I hope you come by more often and find some interesting stuff!</p>
                    <div class="post-readmore"><a class="button" href="/about/">About The Author</a></div>
                </div>
                {% endif %}
                <div class="side-panel" id="donate-form">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="5JY6XQBB35E5E">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </nav>
            <div class="clear-both"></div>
        </div>

        {% include footer.html %}

    </div>

    {% if page.type != "home" %}
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script type="text/javascript">
        require(["mojo/signup-forms/Loader"], function(L) {
            L.start({
                "baseUrl": "mc.us17.list-manage.com",
                "uuid": "85102052c447ce8a8bba06f24",
                "lid": "2366f7f35a"
            })
        })
    </script>
    {% endif %}

    <!-- Default Statcounter code for Fullhacker.com
http://fullhacker.com -->
    <script type="text/javascript">
        var sc_project = 11689667;
        var sc_invisible = 1;
        var sc_security = "4710ea45";
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="http://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="//c.statcounter.com/11689667/0/4710ea45/1/" alt="Web
    Analytics"></a></div></noscript>
    <!-- End of Statcounter Code -->

</body>

</html>
