<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>

    <div class="site-container">
        {% include header.html %}
    
        <div class="site-body">
            <main class="page-content float-left" aria-label="Content">
                <div class="wrapper">
                    {{ content }}
                </div>
            </main>
            <div class="clear-both"></div>
        </div>

        {% include footer.html %}

    </div>
</body>

</html>
