---
layout: default
---

<div class="home">

  {% if site.posts.size > 0 %}
  <h2 class="post-list-heading">{{ page.list_title }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">
            {% if post.author %}
              <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ post.author }}</span></span> • 
            {% endif %}
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ post.date | date: date_format }}
          </span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h3>
          <div class="float-left post-excerpt">
              <img class="float-right post-thumb" alt="{{ post.title | escape }}" src="../assets/images/{{ post.image }}" />
              {{ post.excerpt }}
          </div>
          <div class="clear-both"></div>
          <div class="post-readmore">
            <a href="{{ post.url | relative_url }}" class="button">Continue Reading</a>
          </div>
        </li>
      {% endfor %}
    </ul>

  {% endif %}

</div>
