---
layout: default
---

<article
  class="blog-post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="blog-post__header">
    <div class="blog-post__header__category"><span><a href="{{ page.category | relative_url}}">️{{ page.category }}</a></span></div>
    <div>
      <h3 class="blog-post__header__title" itemprop="name headline">
        {{ page.title | escape }}
      </h3>
    </div>
    <div class="blog-post__header__meta">
        <time
          datetime="{{ page.date | date: "%Y-%m-%d" }}"
          itemprop="datePublished"
        >
          By
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span class="blog-post__header__meta__author h-card" itemprop="name">
                <a href="{{ 'about' | relative_url }}"
                  >{{ page.author }}</a>
              </span> •
            </span>
          🗓️ <span>{% assign date_format = site.minima.date_format |
          default: "%b %-d, %Y" %} {{ page.date | date: date_format }}
          </span>
        </time>
      <span id="page-replies"></span>
      <span id="page-likes"></span>
      <span id="page-reposts"></span>
    </div>
    {% if page.image %}
      <img
        class="blog-post__header__image"
        {% if page.image-alt %}
          alt="{{page.image-alt | escape}} • Header image for: {{page.title | escape}} • {{page.description | escape}} • {{site.title | escape}} • {{site.description | escape}} • {{site.author | escape}}"
        {% else %}
          alt="Header image for: {{page.title | escape}} • {{page.description | escape}} • {{site.title | escape}} • {{site.description | escape}} • {{site.author | escape}}"
        {% endif %}
        title="Header image for: {{page.title | escape}} • {{page.description | escape}} • {{site.title | escape}} • {{site.description | escape}} • {{site.author | escape}}"
        src="../assets/images/{{page.image}}.jpg"
      />

      <p class="blog-post__header__image-caption">
        {% if page.image-alt %} 
          <span>
            {{ page.image-alt }}
          </span>
        {% endif %}
        {% if page.image-attrib %}

          {% if page.image-alt %} 
          •
          {% endif %}
          {% if page.image-attrib-url %}
            <span>
              <a href="{{ page.image-attrib-url }}">Photo &copy; {{ page.image-attrib }}</a>
            </span>
          {% else %}
            <span>Photo &copy; {{ page.image-attrib }}</span>
          {% endif %}
        {% endif %}
      </p>
    

    {% endif %}
  </header>

  <div class="blog-post__content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="blog-post__after-content">
    <div id="reply-by-email">
      <a href="mailto:blog@ayco.io?subject=Re:%20{{page.title | url_encode}}&body=%0A%0AResponse%20to:%20{{site.url}}{{page.url}}">Thoughts? Reply by email</a>
    </div>
    <div id="rss-sign-up">
      <span>For more <em>{{ page.category }}</em> posts like this, subscribe to my <a href={{'feed.xml' | relative_url}}>RSS feed</a></span>
    </div>
  </div>

  <div class="blog-post__replies"></div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
